<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id={{ site.google_tag_manager }}"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

<header>
<nav id="navbar" class="navbar navbar-light navbar-expand-sm fixed-top" role="navigation">
    <div class="container">
        <a class="navbar-brand" href="{{ site.url }}{{ site.baseurl }}/">{{ site.title | escape }}</a>
        <button class="navbar-toggler collapsed ms-auto" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse text-end" id="navbarColor02">
            <ul class="navbar-nav ms-auto flex-nowrap">
                <li class="nav-item"><a class="nav-link" href="{{ site.url }}{{ site.baseurl }}/">About</a></li>
                {% for page in site.nav_pages %}
                  {% unless page.name == "about" %}
                    <li class="nav-item"><a class="nav-link" href="{{ site.url }}{{ site.baseurl }}/{{page.name}}">{{page.name | capitalize }}</a></li>
                  {% endunless %}
                {% endfor %}
            </ul>
        </div>
    </div>
</nav>
<progress id="progress" value="0"></progress>
</header>
