---
layout: default
---

<div class="post">
  <header class="post-header">
    <h1 class="post-title">
      <span class="font-weight-bold">Chenyang</span> Zhou
    </h1>
    <p class="desc"></p>
  </header>

  <article>
    {% for member in site.data.pi limit:1 %}
      <div class="profile float-right">
        <figure>
          <img
            src="{{ site.url }}{{ site.baseurl }}/images/{{ member.photo }}"
            class="img-fluid z-depth-1 rounded"
            width="100%"
            height="auto"
            alt="{{ member.name }}"
            loading="eager"
          >
        </figure>
        <div class="contact-icons">
          {% if member.email %}<a href="mailto:{{ member.email }}" title="email"><i class="fa fa-envelope"></i></a>{% endif %}
          {% if member.github %}<a href="{{ member.github }}" title="GitHub" target="_blank"><i class="fa fa-github"></i></a>{% endif %}
          {% if member.cv %}<a href="{{ site.url }}{{ site.baseurl }}/{{ member.cv }}" title="CV" target="_blank"><i class="ai ai-cv"></i></a>{% endif %}
        </div>
      </div>
    {% endfor %}

    <div class="clearfix">
      {{ content }}
    </div>
  </article>
</div>
